body {
  font-family: "lato", sans-serif;
  background-image: url(images/blue-.jpg);
  background-repeat: no-repeat;
}

.weather-app {
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  background-color: #f3f3f8;
  border-radius: 16px;
  border: 1px solid #cccccc;
}
/*background-color: #cfcfd7;
background-color: #e0e0e0;*/
header {
  border-bottom: 1px lightblue;
  padding: 0 0 30px 0;
}
.search-form-input {
  background-color: rgb(198, 225, 235);
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}
.search-form-btn {
  background-color: #1976d2;
  padding: 15px 30px;
  border: none;
  border-radius: 6px;
  color: white;
  margin-left: 5px;
  font-size: 16px;
  cursor: pointer;
}
.main {
  padding: 30px 0;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
  color: #1a237e;
  font-weight: bold;
}
.weather-app-details {
  font-size: 16px;
  line-height: 24px;
  color: #333333 rgba (39, 33, 66, 0.3);
}
.weather-app-details strong {
  color: #ff9800;
}
.weather-app-temp-container {
  display: flex;
}
.weather-app-icon {
  width: 88px;
  height: 88px;
  margin-right: -45px;
}
.weather-app-temp {
  font-size: 88px;
  font-weight: bold;
  color: #1a237e;
  line-height: 88px;
}

.weather-app-unit {
  margin-top: 6px;
  font-size: 28px;
  color: #1a237e;
}
footer {
  border-top: 1px rgb(0, 0, 0);
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: #333333;
  color: rgba(0, 0, 0, 0.6);
}
